services:
  jekyll:
    image: jekyll/jekyll:4.2.0
    volumes:
      - .:/srv/jekyll
    ports:
      - "4000:4000"
    command: jekyll serve --force_polling --drafts
    environment:
      JEKYLL_ROOTLESS: ${JEKYLL_ROOTLESS:-0}
