<ul class="topmenu">
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% assign linkurl = link.url | replace: ".html", "" | replace: ".markdown", "" %}
      {% if page.url contains linkurl %}
        {% assign deckungsgleich = 'wahr' %}
        {% assign current = 'current' %}
      {% else %}
        {% assign deckungsgleich = 'falsch' %}
      {% endif %}
      <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
          <a class="{{ current }}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
      </li>
    {% endfor %}
</ul>
