:root {
    --grid-color: #666;
    --header-nav-button-bg: #57b8ee;
    --text-color: #333;
    --text-highlight-bg: #eee;
    --toc-bg: #ddd;
    --toc-color: #333;
    --highlight-color: #1bab9b;
    --highlight-bg: #f5b8fb;
}

body {
    color: var(--text-color);
}

header {
    background-image: linear-gradient(140deg, rgb(114, 4, 246) 0%, rgb(175, 0, 255) 50%, rgb(157, 23, 155) 75%);
}

header {
    border-bottom: 1px solid var(--grid-color);
}

header .logo .logo-text {
    color: #ae36b9;
    text-shadow: none;
    font-size: 35px;
}

header .logo .logo-text::after {
    content: 'Perpl';
}

header .topmenu .element>a {
    color: #fff;
}

header li a.current,
.header-line a,
.header-line a:link {
    background-color: var(--header-nav-button-bg);
}

.documentation-navigation li a {
    color: var(--text-color);
}

.documentation-navigation h3 {
    border-bottom: 1px solid var(--grid-color);
}

.documentation-content {
    border-left: 1px solid var(--grid-color);
}

.markdown h2 {
    border-top: 1px solid var(--grid-color);
}

.markdown blockquote strong:first-child {
    background: var(--highlight-bg);
}

.markdown blockquote {
    color: var(--text-color);
    border: 2px solid var(--highlight-color);
}


.documentation-content ul.toc {
    background: var(--toc-bg);
}

.documentation-content ul.toc a,
.documentation-content ul.toc a:link {
    color: var(--toc-color);
}

code {
    border: none;
    background-color: var(--text-highlight-bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --grid-color: #fff;
        --header-nav-button-bg: #3b00f7;
        --text-color: #ccc;
        --text-highlight-bg: #222;
        --toc-bg: #777;
        --toc-color: #fff;
        --highlight-bg: #2b0043;
    }

    header {
        background-image: linear-gradient(140deg, #1f0051 0%, #430589 50%, #2b063a 75%)
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--text-color);
    }

    .highlight {
        background-color: #b18efd;
    }

    .highlight .nt {
        color: #fff;
    }

    .highlight .na {
        color: #08004f;
    }

    .highlight .s {
        color: #616665;
    }

    table {
        background: #fff;
        color: #2b0043;
    }

    .markdown thead tr th {
        background-color: #111;
        color: #fff;
        text-align: left;
    }
}
